.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
}

th {
  text-align: left;
}

.header {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 10px;
  text-align: center;
}

.input {
  text-align: center;
}

ul {
  list-style: none;
  padding: 20px 0;
  width: 100%;
}

ul li {
  padding-left: 10%;
  display: inline;
}
